.shop-category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.category-titleee {
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 800;
}